apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  project: default
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 77.5.0
      helm:
        valueFiles:
          - $values/helm-prometheus/prometheus-values.yaml
    - repoURL: https://github.com/nazmang/k8s.git
      targetRevision: main
      ref: values
    - repoURL: https://github.com/nazmang/k8s.git
      targetRevision: main
      path: helm-prometheus/prometheus
      kustomize: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
        # - Replace=true #!
